/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.dark-theme {
  --main-color: #a0089c;
  --bg-color: #181818f3;
  --white-color: #e3edf7;
  --head-color: #e3edf7;
  --head1-color: #161616;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: #e3edf7;
  --box-shadow: 0 0.1rem 0.1rem #c4c4c4;
}

:root {
  --main-color: #a0089c;
  --bg-color: #e3edf7;
  --white-color: #e3edf7;
  --head-color: #000000;
  --head1-color: #e3edf7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: #000000;
  --box-shadow: 0 0.1rem 0.1rem #c4c4c4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  padding-left: 30rem;
}

b {
  color: var(--head-color);
}

.container1 {
  padding: 2rem 5%;
  min-height: 100vh;
}

.container {
  padding: 2rem 5%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.container.containery {
  padding: 2rem 5%;
  min-height: auto;
  margin: 0 auto;
  text-align: center;
}

.section1 {
  padding-top: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.7rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--head1-color);
  border-right: 1px solid var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 2rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: var(--head-color);
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bolder;
}

header .logo .head_text {
  text-transform: uppercase;
  color: var(--head-color);
  font-size: 3rem;
  font-weight: bolder;
}

header .logo img {
  height: 100px;
  border-radius: 1rem;
  padding-bottom: 10px;
}

header .logo span {
  text-transform: uppercase;
  color: var(--main-color);
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 6px 6px;
  width: 25rem;
  border-radius: 5px;
  margin: 0.6rem 0;
  border: 2px solid transparent;
}

header .navbar a:hover {
  color: var(--main-color);
  background-color: transparent;
  border-color: var(--main-color);
}

header .follow a {
  font-size: 2.5rem;
  color: var(--head-color);
  margin: 0 0.7rem;
}

header .follow a:hover {
  color: var(--main-color);
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10000;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#darkmode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  padding: 1rem 1.3rem;
  font-size: 2rem;
  cursor: pointer;
}

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: var(--main-color);
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100000;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--main-color);
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100000;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

.skeleton-img {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.container-loader {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
}

.ring {
  width: 200px;
  height: 200px;
  border: 0px solid var(--head-color);
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(0, 255, 13);
  animation: rotate3 2s linear infinite;
}

.loading {
  color: white;
  font-size: 1.6rem;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.home .image img {
  width: 80%;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.home .content .h1 {
  font-size: 2rem;
  color: var(--head-color);
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: var(--head-color);
  padding: 0.5rem 0;
}

.home .content .text {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 0.5rem 0;
  text-align: justify;
}

.container .heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: var(--text-color);
}

.container .heading span {
  color: var(--main-color);
}

.container .box-container {
  margin-bottom: 1.5rem;
}

.container .box-container .video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5rem;
}

.container .box-container .video iframe {
  height: 500px;
  width: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0.6rem solid var(--main-color);
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container .heading {
  font-size: 3.5rem;
  margin-bottom: 1.4rem;
  color: var(--text-color);
}

.container .headh2 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
  color: var(--text-color);
}

.container .headh2 span {
  color: var(--main-color);
}

.container .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 20px;
}

.container .box-container .box {
  background-color: var(--head1-color);
  padding: 1.5rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container .box-container .box .image {
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.container .box-container .box .image1 {
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 400px;
}

.container .box-container .box .image1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.container .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.container .box-container .box .content p {
  color: var(--text-color);
  font-size: 1.7rem;
  padding: 0.5rem 0;
  text-align: justify;
}

.container .box-container .box .content.contenty p a {
  color: var(--main-color);
}

.container .box-container .box .content1 p {
  font-size: 2.7rem;
}

.continue_box {
  padding: 2rem 5%;
  padding-top: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.continue_box .box {
  width: auto;
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--head1-color);
  padding: 1rem;
}

.continue_box .box .text_box h2 {
  font-size: 2rem;
}

.continue_box .box .text_box h2 span {
  font-size: 2.1rem;
  color: var(--main-color);
}

.continue_box .box .text_box p {
  font-size: 1.7rem;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: var(--head1-color);
  border-top: 0.25rem solid var(--main-color);
}

footer .contain {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1.2rem 1fr 1.2rem 1fr 1.2rem 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}

footer .contain .sec {
  margin-bottom: 1.5rem;
}

footer .contain .sec h2 {
  position: relative;
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

footer .contain .sec p {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.5;
  display: inline-block;
  font-size: 1.7rem;
}

footer .contain .sec p span {
  color: var(--main-color);
  font-size: 1.8rem;
}

footer .contain .sec .sci {
  margin-top: 1.1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .contain .sci li {
  list-style: none;
}

footer .contain .sci li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: var(--head-color);
  border-radius: 50%;
  color: var(--bg-color);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
}

footer .contain .sci li a i {
  color: var(--head1-color);
  font-size: 2rem;
}

footer .contain .sci li a:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: transparent;
}

footer .contain .quicklinks {
  position: relative;
}

footer .contain .quicklinks .footer__links li .footer__link {
  color: var(--head-color);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: inline-block;
}

footer .contain .quicklinks .footer__links li .footer__link:hover {
  color: var(--main-color);
}

.copyrightText {
  width: 100%;
  background: var(--head1-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  color: var(--head-color);
  border: 1px solid var(--main-color);
}

.copyrightText p {
  color: var(--head-color);
  font-size: 1.7rem;
}

.copyrightText p span {
  font-size: 1.8rem;
  color: var(--main-color);
}

#progress {
  position: fixed;
  /* background: #194eb9; */
  z-index: 1000;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  color: #120027;
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#progress-value {
  display: -ms-grid;
  display: grid;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background: rgb(53, 0, 54);
  border-radius: 50%;
  color: #fff;
  align-items: center;
  justify-content: center;
  place-items: center;
  font-size: 23px;
}

#progress-value i {
  margin-bottom: 0.5rem;
  grid-area: icon;
}

@media (max-width: 1150px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home .image {
    height: fit-content;
  }

  .home .image img {
    filter: drop-shadow(1rem 1rem 2rem #131313);
  }

  .home .content {
    flex: none;
  }

  .container .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  footer .contain {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.2rem 1fr 1.2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .container .box-container .video iframe {
    width: 80%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  .home .image img {
    width: 350px;
    height: 350px;
  }

  #menu-bars {
    display: initial;
  }
  #darkmode {
    right: 8rem;
  }

  header {
    left: -120%;
  }

  footer {
    padding: 40px;
  }

  header.active {
    left: 0%;
  }

  .cursor-1,
  .cursor-2 {
    display: none;
  }

  .container .box-container .box .image1 {
    height: auto;
  }

  .container .box-container .box .content1 p {
    font-size: 2rem;
  }

  .container .box-container .box .image1 img,
  .container .box-container .box .image img {
    border: 0.4rem solid var(--main-color);
  }
  .container .box-container .video {
    height: auto;
    width: 100%;
  }

  .container .box-container .video iframe {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 772px) {
  footer .contain {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .copyrightText {
    padding: 20px 40px 30px;
  }
}

@media (max-width: 500px) {
  .container .box-container .video iframe {
    width: 100%;
    height: 260px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  footer .contain {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  footer {
    padding: 20px;
  }

  header {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
